﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main id="main">

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <h2>How I play?</h2>
                    <p>
                        If the letter is contained in the word/phrase, the group or individual takes another turn
                        guessing a
                        letter. ...
                        If the letter is not contained in the word/phrase, click the Play Again button, a portion of the
                        hangman is added.
                    </p>
                </div>
                <div class="col-lg-8 col-sm-12">
                    <div class="box wow fadeInLeft">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <img id="imageMan" src="~/hangmanpict/1.jpg" alt=""
                                     height="200px"
                                     width="150px">
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <span class="input-group-sm bottom-right">
                                    @for (int i = 1; i <= Model.newGame.Word.Word.Length; i++)
                                    {
                                        <b id="@("wordLetter" + i.ToString())"
                                            style="margin-right: 5px">___</b>
                                    }
                                </span>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-lg-10 col-sm-12">
                                <span class="input-group-sm">
                                    <a id="a" onclick="wordUpd('a')" class="btn btn-primary m-1"
                                       style="height: 40px; width: 40px; color: white">A</a>
                                    <a id="b" onclick="wordUpd('b')" class="btn btn-primary m-1"
                                       style="height: 40px; width: 40px; color: white">B</a>
                                    <a id="c" onclick="wordUpd('c')" class="btn btn-primary m-1"
                                       style="height: 40px; width: 40px; color: white">C</a>
                                    <a id="d" onclick="wordUpd('d')" class="btn btn-primary m-1"
                                       style="height: 40px; width: 40px; color: white">D</a>
                                    <a id="e" onclick="wordUpd('e')" class="btn btn-primary m-1"
                                       style="height: 40px; width: 40px; color: white">E</a>
                                    <a id="f" onclick="wordUpd('f')" class="btn btn-primary m-1"
                                       style="height: 40px; width: 40px; color: white">F</a>
                                    <a id="g" onclick="wordUpd('g')" class="btn btn-primary m-1"
                                       style="height: 40px; width: 40px; color: white">G</a>
                                    <a id="h" onclick="wordUpd('h')" class="btn btn-primary m-1"
                                       style="height: 40px; width: 40px; color: white">H</a>
                                    <a id="i" onclick="wordUpd('i')" class="btn btn-primary m-1"
                                       style="height: 40px; width: 40px; color: white">I</a>
                                    <a id="j" onclick="wordUpd('j')" class="btn btn-primary m-1"
                                       style="height: 40px; width: 40px; color: white">J</a>
                                </span>
                                <span class="input-group-sm">
                                    <a id="k" onclick="wordUpd('k')" class="btn btn-primary m-1"
                                       style="height: 40px; width: 40px; color: white">K</a>
                                    <a id="l" onclick="wordUpd('l')" class="btn btn-primary m-1"
                                       style="height: 40px; width: 40px; color: white">L</a>
                                    <a id="m" onclick="wordUpd('m')" class="btn btn-primary m-1"
                                       style="height: 40px; width: 40px; color: white">M</a>
                                    <a id="n" onclick="wordUpd('n')" class="btn btn-primary m-1"
                                       style="height: 40px; width: 40px; color: white">N</a>
                                    <a id="o" onclick="wordUpd('o')" class="btn btn-primary m-1"
                                       style="height: 40px; width: 40px; color: white">O</a>
                                    <a id="p" onclick="wordUpd('p')" class="btn btn-primary m-1"
                                       style="height: 40px; width: 40px; color: white">P</a>
                                    <a id="q" onclick="wordUpd('q')" class="btn btn-primary m-1"
                                       style="height: 40px; width: 40px; color: white">Q</a>
                                    <a id="r" onclick="wordUpd('r')" class="btn btn-primary m-1"
                                       style="height: 40px; width: 40px; color: white">R</a>
                                    <a id="s" onclick="wordUpd('s')" class="btn btn-primary m-1"
                                       style="height: 40px; width: 40px; color: white">S</a>
                                    <a id="t" onclick="wordUpd('t')" class="btn btn-primary m-1"
                                       style="height: 40px; width: 40px; color: white">T</a>
                                </span>
                                <span class="input-group-sm">
                                    <a id="u" onclick="wordUpd('u')" class="btn btn-primary m-1"
                                       style="height: 40px; width: 40px; color: white">U</a>
                                    <a id="v" onclick="wordUpd('v')" class="btn btn-primary m-1"
                                       style="height: 40px; width: 40px; color: white">V</a>
                                    <a id="w" onclick="wordUpd('w')" class="btn btn-primary m-1"
                                       style="height: 40px; width: 40px; color: white">W</a>
                                    <a id="x" onclick="wordUpd('x')" class="btn btn-primary m-1"
                                       style="height: 40px; width: 40px; color: white">X</a>
                                    <a id="y" onclick="wordUpd('y')" class="btn btn-primary m-1"
                                       style="height: 40px; width: 40px; color: white">Y</a>
                                    <a id="z" onclick="wordUpd('z')" class="btn btn-primary m-1"
                                       style="height: 40px; width: 40px; color: white">Z</a>
                                </span>
                            </div>
                            <a hidden id="playAgain" style="font-size: 25px; margin-top: 25px; margin-left: 55px" href="/">
                                <i class="fa fa-gamepad"></i> Play Again
                            </a>
                        </div>
                    </div>
                </div>


            </div>

        </div>

    </section><!-- #services -->
    <section id="invite">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <h2>How can my friend play?</h2>
                    <p>Just pick a random word, of our database, copy the url for share and voilá!!</p>
                    <p>Dont forget ask to your friend a screenshot!!</p>
                </div>
                <div class="col-lg-8 col-sm-12">
                    <div class="box wow fadeInLeft">
                        <a id="generateNew" onclick="generateNewWord('@Request.Host.Value')" class="btn btn-primary"
                           style="color: white">Generate new word</a>
                        <h2 id="wordRandom">@Model.wordToShare.Word</h2> <br>
                        <label for="urlnewGame">Url for share</label>
                        <a target="_blank" id="urlnewGame" href="?uuid=@Model.wordToShare.Uuid">@Request.Host.Value?uuid=@Model.wordToShare.Uuid</a>

                    </div>
                </div>


            </div>

        </div>

    </section><!-- #services -->
</main>
<input type="hidden" id="gameId" value="@Model.newGame.Id">